.cardopen {
	float: left; 
	height: 5em; 
	width: 5em; 
	background-color: #dfdee0; 
	margin: 1.5em; 
	text-align: center; 
	padding: 2em; 
}

.cardhidden {
	float: left; 
	height: 5em; 
	width: 5em; 
	background-color: #dfce5c; 
	margin: 1.5em; 
	text-align: center; 
	padding: 2em; 
}

.cardhidden h3 {
	color: #dfce5c;
}



.cardtaken {
	float: left; 
	height: 5em; 
	width: 5em; 
	background-color: #fff; 
	margin: 1.5em; 
	text-align: center; 
	padding: 2em; 
}

.cardtaken h3 {
	color: #fff;
}


.namen {
	
}